<% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img class="img-responsive show-height" src="/uploads/<%= recipe.image %>">
                    <div class="caption-full">
                        <h4><%= recipe.title %></h4>
                        <p><%= recipe.description %></p>
                        <br>
                        <a class="btn btn-success" href="/recipes/<%= recipe._id %>/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                        <form id="delete" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                        </form>
                    </div>
                </div>
                <div class="well">
                    <h4>Ingredients</h4>
                    <a class="btn btn-default" href="/recipes/<%= recipe._id %>/ingredients/new"><i class="glyphicon glyphicon-plus"></i> Add</a>
                </div>
                <div>
                        <hr>
                        <a class="btn btn-default" href="/recipes"><i class="glyphicon glyphicon-chevron-left"></i> Go Back</a>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
